* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --red: #d21111;
    --white: #f5f5f5;
    --black: #0e0e0e;

}

.container {
    max-width: 1000px;
    margin: 90px auto 0 auto;
    padding: 40px 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    background-color: var(--white);

}

.dots {
    display: flex;
    gap: 6px;
    
}

.dot {
    width: 12px;
    height: 12px;
    background-color: var(--red);
    margin-bottom: 8px;
    border-radius: 50%;

}

.subtitle {
    font-size: 29px;
    transform: translateY(15px);
    font-weight: bold;
    color: var(--black);
    text-align: center;

}

.content {
    display: flex;
 
    align-items: flex-start;

}

.text {
    color: var(--black);
    line-height: 1.6;
    flex: 1;
    margin: 170px;
    transform: translateY(-90px);
    max-width: 610px;
    text-align: justify;

}

.text p {
    margin-bottom: 40px;

}

/* Responsividade, mobile 766px */ 
@media (max-width: 766px) {
    .container {
        width: 438px;

    }

    .subtitle {
        text-align: center;

    }

    .content {
        flex-direction: column;
        align-items: center;

    }

    .text {
        width: 360px;
    }
}
