* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --red: #d21111;
    --white: #f5f5f5;
    --black: #0e0e0e;
    --shadow1: #32325d40;
    --shadow2: #0000004d;
}

.container {
    max-width: 1000px;
    margin: 90px auto 0 auto;
    padding: 40px 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    background-color: var(--white);


}

.header {
    text-align: left;
    margin-bottom: 30px;

}

.dots {
    display: flex;
    gap: 6px;
    
}

.dot {
    width: 12px;
    height: 12px;
    background-color: var(--red);
    margin-bottom: 20px;
    border-radius: 50%;

}

.subtitle {
    font-size: 29px;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 10px;

}

.content {
    display: flex;
    gap: 50px;
    align-items: flex-start;

}

.text {
    color: var(--black);
    line-height: 1.6;
    flex: 1;
    max-width: 610px;
    text-align: justify;

}

.text p {
    margin-bottom: 17px;

}

.image {
    flex-shrink: 0;

}

.autoraImg {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 10px auto 0 auto;
    border-radius: 50%;
    border: 3px solid var(--red);
    box-shadow: var(--shadow1) 0px 6px 12px -2px, var(--shadow2) 0px 3px 7px -3px;
    
}

/* Responsividade, mobile 766px */
@media (max-width: 766px) {
    .container {
        width: 448px;
        padding: 20px;

    }

    .header {
        text-align: center;
    }

    .subtitle {
        text-align: center;

    }

    .content {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .autoraImg {
        width: 190px;
        height: 190px;
        transform: translateY(-547px);
      
    }

    .text {
        transform: translateY(240px);

    }
}
