:root {
    --black: #0e0e0e;
    --white: #f5f5f5;
    --red: #d21111;
}

.navbars {
    background-color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

}

.navbars ul {
    display: flex;
    list-style: none;
    gap: 70px;
    margin: 0;
    padding: 0;

}

.navbars li a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
    padding: 13px 17px;
    border-radius: 10px;

}

.navbars li a:hover {
    background-color: var(--red);

}

