* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

/* Variável do CSS */
:root { 
    --red: #d21111;
    --white: #f5f5f5;
    --black: #0e0e0e;
    --shadow1: #32325d40;
    --shadow2: #0000004d;
    --blue: #091852;

}

:root {
    --spaceImg: 290px; /* Controle da distância entre as imagens, para tela maior */
    --spaceImg2: 380px /* Controle da distância ente as imagens, para tela menor*/
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding: 2rem;

}

.caroul {
    position: relative;
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slideContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 480px;
    perspective: 1000px;
    justify-content: center;
    align-items: center;

}

.slide {
    position: absolute;
    transition: all 0.6s ease;
    opacity: 0;
    transform-origin: center;

}

.image {
    width: 280px;
    height: 400px;
    box-shadow:  0 10px 25px var(--shadow2);
    border-radius: 15px;
    object-fit: cover;
    transform: translateY(100px);

}

.textBox {
    color: var(--white);
    background-color: var(--blue);
    padding: 1rem;
    width: 260px;
    border-radius: 10px;
    text-align: justify;
    font-size: 1.09rem;
    margin: 1rem auto 0;
    transform: translateY(100px);

}

/* Transição das imagens, e opacidade */
.active {
    opacity: 1;
    transform: translateX(0) scale(1);
    z-index: 3;

}

/* Transição das imagens, espaçamento e opacidade */
.left {
    opacity: 0.7;
    transform: translateX(calc(-1 * var(--spaceImg))) scale(0.7);
    z-index: 2;

}

/* Transição das imagens, espaçamento e opacidade */
.right {
    opacity: 0.7;
    transform: translateX(var(--spaceImg)) scale(0.7);
    z-index: 2;

}

.hidden {
    opacity: 0;
    transform: scale(0.8);
    z-index: 1;

}

.dots {
    display: flex;
    justify-content: center;
    gap: 7px;
    margin-top: 170px;

}

.dot {
    height: 15px;
    width: 15px;
    background-color: var(--shadow1);
    border-radius: 50%;
    margin: 0.4px;
    cursor: pointer;
    transition: 0.3s ease;

}

.activeDot {
    background: var(--red);

}

/* Responsividade, mobile 766px */
@media (max-width: 766px) {
    .container {
        overflow: hidden;
        padding: 1rem;
        
    }

    .caroul {
        width: 100%;
        max-width: none;

    }

    .image {
        width: 373px;
        height: 480px;
        box-shadow:  0 10px 25px var(--shadow2);
        border-radius: 15px;
        object-fit: cover;
        transform: translateY(100px);

    }

    /* Posição 3D das imagens */
    .left {
        opacity: 0.7;
        transform: translateX(calc(-1 * var(--spaceImg2))) scale(0.7);
        z-index: 2;

    }

    /* Posição 3D das imagens */
    .right {
        opacity: 0.7;
        transform: translateX(var(--spaceImg2)) scale(0.7);
        z-index: 2;

    }

    .dots {
        display: flex;
        justify-content: center;
        gap: 7px;
        margin-top: 200px;

    }

    .dot {
        height: 15px;
        width: 15px;
        background-color: var(--shadow1);
        border-radius: 50%;
        margin: 0.4px;
        cursor: pointer;
        transition: 0.3s ease;

    }

    .activeDot {
        background: var(--red);

    }
}
